<mat-toolbar color="primary" class="footer">
  <app-l10n color="default"></app-l10n>
  <a routerLink="about">
    <img src="assets/img/AngularCV_white_transparent.svg" alt="AngularCS" onmouseover="this.src='assets/img/AngularCV.svg';" onmouseout="this.src='assets/img/AngularCV_white_transparent.svg';">
  </a>
  <span class="copyright">&copy; 2020 &ndash; {{currentYear}}</span>
</mat-toolbar>
