<mat-card class="page-title">
  <mat-card-title>
    <mat-icon>info</mat-icon>
    {{l10n.about.title}}
  </mat-card-title>
</mat-card>
<mat-card class="text-card">
  <img src="assets/img/AngularCV.svg" width="150px" alt="AngularCV Logo"/>
  <mat-card-title>AngularCV</mat-card-title>
  <mat-card-subtitle>{{l10n.about.subtitle}}</mat-card-subtitle>
  <mat-card-content>
    <p>
      {{l10n.about.content}}
    </p>
    <mat-chip-list selectable="false">
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-angular"></i>
        Angular
      </mat-chip>
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-materialdesign"></i>
        Material Design
      </mat-chip>
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-gitlab"></i>
        GitLab
      </mat-chip>
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-css3"></i>
        CSS
      </mat-chip>
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-typescript"></i>
        TypeScript
      </mat-chip>
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-visualstudio"></i>
        Visual Studio Code
      </mat-chip>
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-aws"></i>
        AWS
      </mat-chip>
    </mat-chip-list>
    <br>
    <p>{{l10n.about.additional}}</p>
    <mat-chip-list selectable="false">
      <mat-chip>
        <i mat-list-icon class="tag-icon icon-icomoon"></i>
        IcoMoon icon font
      </mat-chip>
      <mat-chip>Simple Icons</mat-chip>
      <mat-chip>Roboto font</mat-chip>
      <mat-chip>Roboto Slab font</mat-chip>
      <mat-chip>jsPDF</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="primary" href="https://gitlab.com/angelosantarella/angelosantarella.gitlab.io" target="_blank">
      <i class="button-icon icon-gitlab"></i>
      {{l10n.about.link_to_github}}
    </a>
  </mat-card-actions>
</mat-card>
