
  mat-card-header,
  mat-card-actions,
  mat-card-content {
    margin-left: 142px;
  }
  
  @media screen and (max-width: 600px) {
    mat-card-header,
    mat-card-actions,
    mat-card-content {
      margin-left: 122px;
    }
  }
  
  @media screen and (max-width: 400px) {
    mat-card-header,
    mat-card-actions,
    mat-card-content {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
  
  mat-card-content {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  mat-card-subtitle {
    font-size: 1.2em;
  }
  
  mat-card-title {
    margin-top: 6px;
    padding-right: 10em;
    top: 24px;
  }
  
  .vertical-divider {
    position: absolute;
    border-left: 2px solid #888;
    top: 20px;
    left: 148px;
    bottom: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .vertical-divider {
      left: 132px;
      bottom: 16px;
      top: 16px;
    }
  }
  
  .toggle-details {
    position: absolute;
    right: 24px;
    bottom: 12px;
    font-size: 1em;
    float:right;
  }
  
  .toggle-details mat-icon {
    position: absolute;
    top: 0.2em;
    left: 0;
    font-size: 3em;
  }
  
  
  a[mat-button] {
    text-transform: uppercase;
  }
  
  .tag-icon {
    margin-left: -5px;
    font-size: 1.5em;
    padding-right: 5px;
  }
  .tag-icon:before {
    color: unset;
  }
  