<mat-card class="page-title">
  <mat-card-title>
    <mat-icon>favorite</mat-icon>
    DEMO
  </mat-card-title>
</mat-card>

<mat-card class="cv-card closed">
  
  <mat-card-header>
    <mat-card-title>NODEJS BACKEND BOOTSTRAP</mat-card-title>
    <mat-card-subtitle>Apollo GraphQL demo</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <button mat-raised-button color="primary">COMING SOON</button>    
  </mat-card-content>

  <mat-card-actions>
    <a mat-button color="primary" href="https://gitlab.com/angelosantarella/nodejs-backend-bootstrap" target="_blank" rel="noopener">
      <mat-icon>link</mat-icon>
      {{l10n.cv_item.button_view_link}}
    </a>    
  </mat-card-actions>
</mat-card>

